<lqh-component-builder [builderConfigName]="'samplePage'"></lqh-component-builder>
  <!-- <div>
    <button (click)="onClick()">Click</button>
    <button (click)="onOtherClick()">Other Click</button>
    <button (click)="onRefresh()">Refresh</button>
    <p>{{ (vm$ | async)?.sampleData }}</p>
    <p>{{ (tempValue$ | async)[0] }}</p>
  </div> -->
<!-- <div class="skeleton-container">
  <div class="skeleton-loader">
    <div [lqhSkeletonText]="!temp">
      {{temp}}
    </div>
    <div [lqhSkeletonMultipleText]="!temp2">
      {{temp2}}
    </div>
  </div>
</div>

<button (click)="tempClick()">click</button>
<button (click)="tempClick2()">click 2</button> -->


