<mat-form-field
  appearance="standard"
  class="w100"
  [ngClass]="{ 'lqh-form-field-input-disabled': disabled }"
>
  <mat-label>{{ label | translate }}</mat-label>
  <input
    matInput
    [formControl]="formControl"
    type="password"
    placeholder="{{ placeholder | translate }}"
    autocomplete="off"
    [lqhDisableControl]="disabled"
    (ngModelChange)="inputChange({value: $event})"
    [required]="required"
  />
  <mat-error>
    <lqh-error-message [control]="formControl"></lqh-error-message>
  </mat-error>
  <div matSuffix class="suffix-container">
    <div
      *ngIf="value"
      class="progress-icon"
      [id]="iconElementID"
      [ngClass]="{
        strong: getStatus('strong'),
        weak: getStatus('weak'),
        medium: getStatus('medium')
      }"
    >
      <mat-icon *ngIf="getStatus('strong') || getStatus('medium')">done</mat-icon>
      <mat-icon *ngIf="getStatus('weak')">close</mat-icon>
    </div>
    <div
      class="progress-bar-wapper"
      #tooltip="matTooltip"
      matTooltipPosition="above"
      matTooltipClass="fs-14 white-space-pre-line"
      [matTooltip]="getTooltipMismatchedMessages()"
      [matTooltipHideDelay]="tooltipHideDelay"
    >
      <div class="lqh-bar" [id]="barElementID"></div>
      <div class="lqh-progress" [id]="progressElementID"></div>
    </div>
  </div>
</mat-form-field>
