@import './../variables';

.bg-dark-white {
  background-color: $lqh-dark-white;
}

.bg-white {
  background-color: $lqh-white;
}

.bg-primary-10-opacity {
  background-color: $lqh-primary-10-opacity;
}

.bg-primary-20-opacity {
  background-color: $lqh-primary-20-opacity;
}

.bg-red {
  background-color: $lqh-red;
}

.bg-green {
  background-color: $lqh-green;
}
