@import '../variables';

.btn-flat-icon {
  @extend .bd-none;
  @extend .flex-between;
  @include w-h-same-size(55px);
  min-width: 55px !important;
  background-color: $lqh-white;
  color: $lqh-text-grey;
  .mat-icon.mat-icon-inline {
    @include font-size(22px);
  }

  .mat-icon {
    @include font-size(22px);
  }
}

.mat-button {
  &.btn {
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.32rem 1.575rem;
    border-radius: 4px;
    font-size: 1rem;

    

    &.btn-raised {
      min-width: 180px;
      height: 55px;
      &.btn-primary {
        @extend .primary-shadow;
        background-color: $lqh-primary;
        border-color: $lqh-primary;
        transition: all 0.2s;
        color: #ffffff;

        // &:hover {
        //   background-color: $lqh-primary-hover;
        //   border-color: $lqh-primary-hover;
        // }
      }

      &.btn-accent {
        @extend .accent-shadow;
        background-color: $lqh-accent;
        border-color: $lqh-accent;
        transition: all 0.2s;
        color: #ffffff;
  
        // &:hover {
        //   background-color: $lqh-accent-hover;
        //   border-color: $lqh-accent-hover;
        // }
      }

      &.btn-basic {
        color: $lqh-grey;
        background-color: $lqh-light-grey;
        border-color: $lqh-light-grey;
      }
    }

    &.btn-round {
      @extend .btn-raised;
      height: 40px;
      border-radius: 100px;
      padding: {
        top: 0;
        bottom: 0;
      }
    }
  }
}

.lqh-status {
  @include font-size(12px);
  @extend .bd-radius-4px;
  display: inherit;
  padding: 5px 10px;
  font-weight: 700;
  text-transform: uppercase;

  &.active {
    @extend .lqh-status;
    @include box-shadow-btn-sm($lqh-light-green);
    color: $lqh-green;
    background-color: $lqh-light-green;
  }

  &.inactive {
    @extend .lqh-status;
    @include box-shadow-btn-sm($lqh-light-red);
    color: $lqh-red;
    background-color: $lqh-light-red;
  }
}
