.d-none {
  display: none !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-block {
  display: block !important;
}

.hide {
  display: none !important;
}

//--------------------------HEIGHT--------------------------
.h-100vh {
  height: 200vh;
}

.h-auto {
  height: auto;
}

.h100 {
  height: 100%;
}
//--------------------------WIDTH--------------------------
.w-auto {
  width: auto;
}

.w-100px {
  width: 100px;
}

.w-275px {
  width: 275px;
}

.w100 {
  width: 100%;
}
