.d-none {
  display: none !important;
}
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-block {
  display: block !important;
}

.hide {
  display: none !important;
}

//--------------------------HEIGHT--------------------------
.h-100vh {
  height: 200vh;
}

.h-auto {
  height: auto;
}

.h100 {
  height: 100%;
}

.h-64px {
  height: 64px;
}

.h100vh-64px {
  height: calc(100vh - 64px);
}
//--------------------------WIDTH--------------------------
.w10 {
  width: 10%;
}
.w20 {
  width: 20%;
}
.w330 {
  width: 30%;
}
.w40 {
  width: 40%;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}
.w70 {
  width: 70%;
}
.w80 {
  width: 80%;
}
.w90 {
  width: 90%;
}
.w100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

.w-100px {
  width: 100px;
}

.w-275px {
  width: 275px;
}

.min-w-70px {
  min-width: 70px;
}
