.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.al-item-center {
  align-items: center;
}

.flex-between {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .al-item-center;
}

.flex-start-center {
  @extend .d-flex;
  @extend .justify-content-start;
  @extend .al-item-center;
}

.flex-end-center {
  @extend .d-flex;
  @extend .justify-content-end;
  @extend .al-item-center;
}

.flex-space-between-center {
  @extend .d-flex;
  @extend .justify-content-space-between;
  @extend .al-item-center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-grow-3 {
  flex-grow: 3;
}

.flex-grow-4 {
  flex-grow: 4;
}

.flex-grow-5 {
  flex-grow: 5;
}

.flex-grow-6 {
  flex-grow: 6;
}

.flex-grow-7 {
  flex-grow: 7;
}
