//----------------------------
//-----------MARGIN-----------
//----------------------------
.m-0 {
  margin: 0;
}

.mx-0i {
  margin: {
    left: 0 !important;
    right: 0 !important;
  }
}

.ml-0 {
  margin-left: 0;
}

.ml-10px {
  margin-left: 10px;
}

.ml-20px {
  margin-left: 20px;
}

.ml-25px {
  margin-left: 25px;
}

.ml-30px {
  margin-left: 30px;
}

.mr-20pxi {
  margin-right: 20px !important;
}

.mt-30px {
  margin-top: 30px;
}

.mt-35px {
  margin-top: 35px;
}

.mb-5px {
  margin-bottom: 5px;
}

.mb--1rem {
  margin-bottom: -1rem;
}

.my-30px {
  margin: {
    top: 30px;
    bottom: 30px;
  }
}

.my-35px {
  margin: {
    top: 35px;
    bottom: 35px;
  }
}

.my-40px {
  margin: {
    top: 40px;
    bottom: 40px;
  }
}
