// Padding All------------------------------------
.p-0 {
  padding: 0;
}

// Padding Left Right------------------------------------
.px-0i {
  @include padding-x(0!important);
}

.px-14px {
  @include padding-x(14px);
}

.px-16px {
  @include padding-x(16px);
}

.px-20px {
  @include padding-x(20px);
}

.px-25px {
  @include padding-x(25px);
}

.px-30px {
  @include padding-x(30px);
}

.px-55px {
  @include padding-x(55px);
}

// Padding Top Bottom------------------------------------
.py-16px {
  @include padding-y(16px);
}

.py-40px {
  @include padding-y(40px);
}

// Padding Top------------------------------------
.pt-0 {
  padding-top: 0;
}

.pt-0i {
  padding-top: 0 !important;
}

.pt-15px {
  padding-top: 15px;
}

// Padding Bottom------------------------------------
.pb-0i {
  padding-bottom: 0 !important;
}

.pb-5px {
  padding-bottom: 5px;
}

.pb-10px {
  padding-bottom: 10px;
}

.pb-20px {
  padding-bottom: 20px;
}

// Padding Left------------------------------------
.pl-35pxi {
  padding-left: 35px !important;
}
// Padding Right------------------------------------

// Other
.p-col-30px {
  padding: {
    left: 30px;
    right: 30px;
    bottom: 30px;
  }
}
