.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.pos-fixed-top-right {
  @extend .pos-fixed;
  top: 0;
  right: 0;
}
