@import '../variables';

.lqh-h1,
h1 {
  font-size: 2rem;
}

.lqh-h2,
h2 {
  font-size: 1.5rem;
}

.lqh-h3,
h3 {
  font-size: 1.17rem;
}

.lqh-h4,
h4 {
  font-size: 1rem;
}

.lqh-h5,
h5 {
  font-size: 0.83rem;
}

.lqh-h6,
h6 {
  font-size: 0.67rem;
}
