<mat-card class="mat-elevation-z0 px-0i pb-0i black-shadow">
  <mat-card-header>
    <mat-card-title class="flex-start-center">
      Table
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions class="mx-0i t-aligh-right">
    <button mat-button class="btn btn-round btn-accent mr-20pxi" (click)="createEmployee()">
      <mat-icon>add</mat-icon>
      Create Employee
    </button>
  </mat-card-actions>
  <mat-card-content>
    <ng-container [ngTemplateOutlet]="table"></ng-container>
  </mat-card-content>
</mat-card>

<ng-template #table>
  <lqh-skeleton class="table-container" [isLoading]="true">
    <table mat-table [dataSource]="dataSource" matSort class="w100 skt-table">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="pos-relative min-w-70px w-100px">
          <span *ngIf="areAllSelected()" class="border-left-inside"></span>
          <mat-checkbox
            class="lqh-checkbox"
            color="primary"
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && areAllSelected()"
            [indeterminate]="selection.hasValue() && !areAllSelected()"
          ></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element" class="pos-relative min-w-70px w-100px">
          <span *ngIf="isSelected(element)" class="border-left-inside"></span>
          <mat-checkbox
            class="lqh-checkbox"
            color="primary"
            (change)="$event ? toggleSelection(element) : null"
            [checked]="isSelected(element)"
            (click)="$event.stopPropagation()"
          ></mat-checkbox>
        </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="fullName" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
        <td mat-cell *matCellDef="let element">
          <div class="flex-start-center">
            <div>
              <lqh-avatar 
                [lqhSkeletonAvatar]="!(element.avatar || (element.firstName && element.lastName))" 
                [imageSrc]="element.avatar" 
                [imageSize]="'small'"
                [firstName]="element.firstName"
                [lastName]="element.lastName"
              ></lqh-avatar>
            </div>
            <div class="ml-30px" [lqhSkeletonMultipleText]="!(element.fullName && element.email)">
              <div class="text-black">
                {{ element?.fullName }}
              </div>
              <div class="text-grey">
                {{ element?.email }}
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Department Column -->
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
        <td mat-cell *matCellDef="let element">
          <span [lqhSkeletonText]="!element.department">
            {{ element?.department.name | translate}}
          </span>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
        <td mat-cell *matCellDef="let element">
          <span [lqhSkeletonText]="!element.position">
            {{ element?.position.name | translate}}
          </span>
        </td>
      </ng-container>

      <!-- Status Column -->
      <!-- <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">
          <div [lqhSkeletonText]="!element.status" class='lqh-status {{ element.status }}'>
            {{ element?.status }}
          </div>
        </td>
      </ng-container> -->

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let element">
          <span [lqhSkeletonText]="!element.phone">{{ element?.phone }}</span>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div>
            <button mat-icon-button title="Edit" (click)="editEmployee(element)">
              <mat-icon>launch</mat-icon>
            </button>
            <button mat-icon-button color="warn" title="Delete" (click)="deleteEmployee(element)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="non-data">
        <mat-footer-cell *matFooterCellDef>Records Not Found</mat-footer-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [ngClass]="isSelected(row) ? 'bg-primary-10-opacity' : ''"
      ></tr>
      <!-- <mat-footer-row
      *matFooterRowDef="['non-data']"
      [ngClass]="{hide: !!(dataSource?.length !== 0)}"
      ></mat-footer-row> -->
    </table>
    <mat-paginator
      [length]="$totalEmployees | async"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons
      class="bg-primary-20-opacity"
    >
    </mat-paginator>
  </lqh-skeleton>
</ng-template>