<div class="gender-container">
  <mat-button-toggle-group
  [formControl]="formControl"
  class="lqh-gender h100 pb-5px"
  appearance="legacy"
>
  <mat-button-toggle [value]="metadata[0].value" class="male">
    <img *ngIf="!isSelected(metadata[0].value)" src="../../../../assets/icons/male-grey.svg" alt="male-icon">
    <img *ngIf="isSelected(metadata[0].value)" src="../../../../assets/icons/male-white.svg" alt="male-icon" />
  </mat-button-toggle>
  <mat-button-toggle [value]="metadata[1].value" class="female"
  >
    <img *ngIf="!isSelected(metadata[1].value)" src="../../../../assets/icons/female-grey.svg" alt="female-icon" />
    <img *ngIf="isSelected(metadata[1].value)" src="../../../../assets/icons/female-white.svg" alt="female-icon">
  </mat-button-toggle>
</mat-button-toggle-group>
</div>

