<mat-form-field appearance="standard" class="w100" [ngClass]="{'lqh-form-field-input-readonly': readonly}">
  <mat-label>{{ label | translate }}</mat-label>
  <input
    matInput
    placeholder="{{ placeholder | translate }}"
    autocomplete="off"
    (ngModelChange)="inputChange({value: $event})"
    [formControl]="formControl"
    [readonly]="readonly"
    [required]="required"
  />
  <mat-error>
    <lqh-error-message [control]="formControl"></lqh-error-message>
  </mat-error>
</mat-form-field>
