<div class="left-side-container d-flex flex-column justify-content-space-between h100">
  <div>
    <ng-container [ngTemplateOutlet]="(isTablet$ | async) ? logoSmall : logo"></ng-container>
    <mat-nav-list class="px-20px pt-0i">
      <ng-container
        *ngFor="let item of navList"
        [ngTemplateOutlet]="(isTablet$ | async) ? navItemSmall : navItem"
        [ngTemplateOutletContext]="{ item: item }"
      >
      </ng-container>
    </mat-nav-list>
  </div>
  <div class="pb-20px">
    <lqh-toggle-mode-theme></lqh-toggle-mode-theme>
  </div>
</div>


<!-- Logo -->
<ng-template #logo>
  <div class="logo my-40px flex-between">
    <img src="../../../../assets/icons/logo.svg" alt="my-icon" class="primary-shadow" />
  </div>
</ng-template>

<ng-template #logoSmall>
  <div class="logo my-40px flex-between">
    <img src="../../../../assets/icons/logo-small.svg" alt="my-icon" class="primary-shadow" />
  </div>
</ng-template>

<!-- Nav Item -->
<ng-template #navItem let-item="item">
  <div
    matRipple
    *ngIf="item.authorize"
    class="nav-item flex-start-center mb-5px py-16px px-25px"
    [routerLink]="item.url"
    routerLinkActive="item-active"
    #rla="routerLinkActive"
  >
    <img
      [src]="rla.isActive ? item.icon.active : item.icon.inActive"
      alt="nav-icon"
      width="24"
      height="24"
    />
    <span>{{ item.routerName }}</span>
  </div>
</ng-template>

<ng-template #navItemSmall let-item="item">
  <div
    matRipple
    *ngIf="item.authorize"
    class="nav-item flex-between mb-5px py-16px"
    [routerLink]="item.url"
    routerLinkActive="item-active"
    #rla="routerLinkActive"
  >
    <img
      [src]="rla.isActive ? item.icon.active : item.icon.inActive"
      alt="nav-icon"
      width="24"
      height="24"
    />
  </div>
</ng-template>

